*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
 height: 60px;
 background-color: black;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0% 20px;


}
.logo{
    font-size: 40px;
    color: red;

}

.navlinks{
    gap: 25px;
    display: flex;
}
.navlinks a{
    color: wheat;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.navlinks a:hover{
    color: orange;
}
.button{
    display: flex;
    gap: 5px;
}
.button input{
    padding: 5px 10px;
    border:none;
    border-radius: 3px;

}
.button button{
    padding: 5px 12px;
    border-radius: 3px;
    border:none;
    background-color: orange;
    cursor: pointer;
}

#section{
    height: 720px;
    background-color: grey;

    display: flex;              /* THIS IS MAIN FIX */
            /* vertical center */
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 20px;
}

.one{
    width: 40%;
    color:black;
    padding: 0px 30px;
    padding-bottom: 20px;
    font-size: 20px;
    border-radius: 25px;
    position: relative;
    top: 5px;
    margin-top: 40px;
}

.two{
    width: 850px;
    height: 650px;
    background-image: url("barber_photo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

